[submodule "leetcode"]
	path = leetcode
	url = https://github.com/Y-1huadb/leetcode.git
	branch = main
[submodule "Deeplearing"]
	path = Deeplearing
	url = https://github.com/Y-1huadb/Deeplearning_Pytorch.git
	branch = main
[submodule "Software_Engineering/Project"]
	path = Software_Engineering/Project
	url = https://github.com/sustech-cs304/team-project-25spring-15.git
	branch = dev
[submodule "Parallel_Computing"]
	path = Parallel_Computing
	url = https://github.com/Y-1huadb/CS149_Parallel_Computing.git
	branch = main
[submodule "Computer_Organization"]
	path = Computer_Organization
	url = https://github.com/lxy-quantum/SUSTech-CS202-Pipelined-CPU.git
	branch = main
[submodule "Operating_System"]
	path = Operating_System
	url = https://github.com/fest6/os-project.git
	branch = signals-dev
[submodule "OOAD"]
	path = OOAD
	url = https://github.com/Delta0019/SUSTech-OOAD-CourseLightHouse.git
	branch = main
